<!-- ========================= hero-section-wrapper-2 start ========================= -->
<section id="home" class="hero-section-wrapper-2">

  <!-- ========================= hero-2 start ========================= -->
  <div class="hero-section hero-style-2">
    <div class="container">
      <div>
        &nbsp;
      </div>
      <div class="row align-items-end">
        <div class="col-lg-6">
          <div class="hero-content-wrapper">

            <h4 class="wow fadeInUp" data-wow-delay=".2s">Le statut de votre candidature</h4>
            <h5 class="wow fadeInUp" data-wow-delay=".2s"> {{candidatureStatut.statut}}  </h5>

          </div>
        </div>
        <div class="col-lg-6">
          <div class="hero-content-wrapper align-content-center">

            <h4 class="wow fadeInUp" data-wow-delay=".2s">Liste d'admissibilité</h4>
            <div class="buttons">
              <a href="https://rebrand.ly/flat-ud/" rel="nofollow" target="blank" class="button button-lg radius-10 wow fadeInUp" data-wow-delay=".7s">Cliquez pour télécharger</a>
            </div>
            <div>&nbsp;</div>
            <h4 class="wow fadeInUp" data-wow-delay=".2s">Liste des admis</h4>
            <div class="buttons">
              <a href="https://rebrand.ly/flat-ud/" rel="nofollow" target="blank" class="button button-lg radius-10 wow fadeInUp" data-wow-delay=".7s">Cliquez pour télécharger</a>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ========================= hero-2 end ========================= -->

</section>
