<section id="home" class="hero-section-wrapper-2">
  <!-- ========================= hero-2 start ========================= -->
  <div class="hero-section hero-style-2">
    <div class="container">
      <div>
        &nbsp;
      </div>
      <div class="row align-items-end">
        <div class="col-lg-6">
          <div class="hero-content-wrapper">

            <h4 class="wow fadeInUp" data-wow-delay=".2s">Session de Mai 2023</h4>

            <div class="buttons">
              <a href="inscription.html" rel="nofollow" class="button button-lg radius-10 wow fadeInUp" data-wow-delay=".7s">Inscrivez-vous maintenant</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="hero-image">
            <img src="assets/img/Etudiants.png" style="border-radius: 100px;" width="400px" height="300px" alt="" class="text-center wow fadeInRight" data-wow-delay=".2s">

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ========================= hero-2 end ========================= -->

</section>
