    <section id="contact" class="contact-section contact-style-6">
        <div class="container">
          <div>&nbsp;</div>

          <div class="row justify-content-center">
            <div class="col-lg-5" style="border-style: solid; border-width: 2px; border-radius: 50px; border-color: #c0262d; padding: 50px;">
              <div class="contact-form-wrapper text-center">
                <img src="assets/img/person.svg" width="100px" height="100px">
                <h4 class="mb-15 wow fadeInUp" data-wow-delay=".2s" style="color: #c0262d;">Se connecter</h4>
                <form [formGroup]="userFormGroup" (ngSubmit)="traitementLogin()">


                  <div class="row">
                    <div class="col-md-12">
                      <div class="single-input">
                        <!--<label for="name">Name</label>-->
                        <input type="email"  formControlName="email" class="form-input col-12" placeholder="Email">
                      </div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="col-md-12">
                      <div class="single-input">
                        <!--<label for="email">Email</label>-->
                        <input type="password" formControlName="password" class="form-input col-12" placeholder="Mot de passe">

                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="form-button">
                        <button type="submit" class="button radius-10">Se connecter </button>
                      </div>
                    </div>
                    <div>&nbsp;</div>
                    <a href="register.html">Pas de compte? Creer un compte</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
