<!-- ========================= hero-2 start ========================= -->
<section id="home" class="hero-section-wrapper-2" style="overflow: hidden;">
  <div class="hero-section hero-style-2">
    <div class="" style="background: url(assets/img/Etudiants.png) no-repeat center/cover;">
      <div class="row align-items-center">
        <div class="" style="text-align: center;">
          <div class="hero-content-wrapper">
            <!--<h2 class="mb-30 wow fadeInUp" data-wow-delay=".4s">&nbsp;</h2>-->
            <!--<h2 class="mb-30 wow fadeInUp" data-wow-delay=".4s">&nbsp;</h2>-->
            <h4 class="wow fadeInUp title" data-wow-delay=".2s">Bienvenue sur votre espace d'inscription</h4>

            <div class="buttons justify-content-center">
              <a [routerLink]="['/register']" rel="nofollow" class="button button-lg radius-10 wow fadeInUp"
                data-wow-delay=".7s">Inscrivez-vous maintenant</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================= hero-2 end ========================= -->