.card {
    /* padding: 1rem; */
    max-width: 500px;
    background-color: #ffffff;
    /* margin: 40px auto; */
    padding: 40px;
    box-shadow: 0px 6px 18px rgb(0 0 0 / 9%);
    border-radius: 12px;
}
 .form-header {
    gap: 5px;
    text-align: center;
    font-size: .9em;
  }
   .form-header .stepIndicator {
    position: relative;
    flex: 1;
    padding-bottom: 30px;
  }
   .form-header .stepIndicator.active {
    font-weight: 600;
  }
   .form-header .stepIndicator.finish {
    font-weight: 600;
    color: #df650d;
  }
   .form-header .stepIndicator::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 9;
    width: 20px;
    height: 20px;
    background-color: #d6b093;
    border-radius: 50%;
    border: 3px solid #ecf5f4;
  }
   .form-header .stepIndicator.active::before {
    background-color: #d6b093;
    border: 3px solid #d5f9f6;
  }
   .form-header .stepIndicator.finish::before {
    background-color: #df650d;
    border: 3px solid #b7e1dd;
  }
   .form-header .stepIndicator::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 8px;
    width: 100%;
    height: 3px;
    background-color: #f3f3f3;
  }
   .form-header .stepIndicator.active::after {
    background-color: #f3f3f3;
  }
   .form-header .stepIndicator.finish::after {
    background-color: #df650d;
  }
   .form-header .stepIndicator:last-child:after {
    display: none;
  }
   input {
    padding: 15px 20px;
    width: 100%;
    font-size: 1em;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
  }
   input:focus {
    border: 1px solid #df650d;
    outline: 0;
  }
   input.invalid {
    border: 1px solid #ffaba5;
  }
   .step {
    display: none;
  }
   .form-footer{
    overflow:auto;
    gap: 20px;
  }
   .form-footer button{
    background-color: #df650d;;
    border: 1px solid #df650d !important;
    color: #ffffff;
    border: none;
    padding: 13px 30px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    flex: 1;
    margin-top: 5px;
  }
   .form-footer button:hover {
    opacity: 0.8;
  }
  .blinking {
    animation: blink 3s linear infinite;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.form-button button:disabled {
        background-color: hsl(25, 89%, 66%);
        border-color: hsl(25, 89%, 66%);
}