<section id="pricing" class="pricing-section pricing-style-1 bg-white contact-section contact-style-6">
  <div class="container">

    <div class="col-12" style=" padding-top: 100px;">
      <h4 class="wow fadeInUp" data-wow-delay=".4s">{{session.nom}} </h4>
      <h6 class="text-center">Date d'examen: <b style="color: #df650d">{{session.date_examen | date:"dd/MM/yyyy"}}</b>
      </h6><br />
      <h6 class="text-center">Date limite des inscriptions en ligne: <b style="color: #df650d">{{session.date_limite |
          date: "dd/MM/yyyy"}}</b></h6>
      <br>
      <h5 class="mb-15 wow fadeInUp text-center" data-wow-delay=".2s" style="color: #c0262d;">Enregistrez-vous</h5>
    </div>
  </div>
  <br>
  <div>&nbsp;</div>
  <div class="container">

    <div *ngIf="showCentre" class="row justify-content-center">

      <div class="row justify-content-center">
        <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-10">
          <div class="section-title text-center mb-60">
            <h5 class="mb-15 wow fadeInUp" data-wow-delay=".2s" style="color: #c0262d;">Choisissez votre centre d'examen
            </h5>
            <div>&nbsp;</div>

          </div>
        </div>
      </div>

      <div *ngFor="let item of site" class="col-lg-4 col-md-8 col-sm-10">
        <div class="single-pricing wow fadeInUp" style="height: 600px" data-wow-delay=".2s">
          <div class="image">
            <img src="{{item.image}}" alt="">
          </div>
          <!--<h6>Pro Design</h6>-->
          <h4>{{item.nom}}</h4>
          <!--<h3>$ 29.00</h3>-->
          <ul>
            <li *ngFor="let item2 of item.centreExamenList">
              <input [(ngModel)]="candidatureForm.centre" value="{{item2.nom}}" required name="examcenter"
                style="width: 20px; height: 20px;" type="radio" class="form-input"> &nbsp; {{item2.nom}}
            </li>
          </ul><!---->
          <a (click)="toggleForm()" style="position: absolute; bottom: 15px;" class="button  radius-30">Continuer</a>
        </div>
      </div>
    </div>



    <div *ngIf="showForm" class="container row justify-content-center ">

      <div>&nbsp;</div>
      <div class="row justify-content-center">
        <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-10">
          <div class="section-title text-center mb-60">
            <h5 class="mb-15 wow fadeInUp" data-wow-delay=".2s" style="color: #c0262d;">Veuillez renseigner vos
              informations</h5>

          </div>
        </div>
      </div>


      <div class="col-lg-6 card">
        <div class="contact-form-wrapper">
          <form name="form" #f="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-header d-flex mb-4">
              <span class="stepIndicator active" [ngClass]="{finish: step > 1}">Details personnels</span>
              <span class="stepIndicator" [ngClass]="{active: step >= 2, finish: step > 2}">Informations
                complementaires</span>
              <span class="stepIndicator" [ngClass]="{active: step >= 3, finish: step > 3}">Concours</span>
              <span class="stepIndicator" [ngClass]="{active: step >= 4, finish: step > 4}">Paiement</span>
            </div>
            <div class="row" [hidden]="!(step == 1)">
              <p class="text-center mb-4">Informations supplementaires</p>
              <div class="col-md-12">
                <div class="single-input">
                  <label for="date_naissance">Date de naissance (*)</label>
                  <input [(ngModel)]="candidatureForm.date_naissance" #date_naissance="ngModel" style="width: 100%;"
                    type="date" id="date_naissance" name="date_naissance" class="form-input"
                    placeholder="Date de naissance">
                </div>
              </div>

              <div class="col-md-12">
                <div class="single-input">
                  <label for="nationalite">Nationalité(*)</label>
                  <input required [(ngModel)]="candidatureForm.nationalite" #nationalite="ngModel" style="width: 100%;"
                    type="text" id="nationalite" name="nationalite" class="form-input" placeholder="Nationalité">
                </div>
              </div>

              <div class="col-md-12">
                <div class="single-input">
                  <label for="ville">Ville de résidence(*)</label>
                  <input [(ngModel)]="candidatureForm.ville" style="width: 100%;" type="text" id="ville" name="ville"
                    class="form-input" placeholder="Ville de résidence">
                </div>
              </div>

              <div class="col-md-12">
                <div class="single-input">
                  <label for="ville">Lieu de naissances(*)</label>
                  <input #lieu_naissance [(ngModel)]="candidatureForm.lieu_de_naissance" style="width: 100%;"
                    type="text" id="lieu_naissance" name="lieu_naissance" class="form-input"
                    placeholder="Lieu de naissance">
                </div>
              </div>

              <div class="align-content-center">
                <div class="single-input">
                  <label>Genre</label>
                  <input [(ngModel)]="candidatureForm.genre" value="M" required name="genre"
                    style="width: 20px; height: 20px;" type="radio" class="form-input"> &nbsp; <span
                    style="font-size: 17px;"> Masculin </span> <br>
                  <input [(ngModel)]="candidatureForm.genre" value="F" required name="genre"
                    style="width: 20px; height: 20px;" type="radio" class="form-input"> &nbsp; <span
                    style="font-size: 17px;"> Féminin </span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-button">
                  <button type="button" class="button radius-10 w-100" [disabled]="candidatureForm.date_naissance === '' || candidatureForm.nationalite === ''
                  || candidatureForm.ville === '' || candidatureForm.lieu_de_naissance === '' || candidatureForm.genre ===
                  ''" (click)="setStep(step + 1)">Suivant</button>
                </div>
              </div>

            </div>

            <div class="row" [hidden]="!(step==2)">
              <p class="text-center mb-4">Informations relatives aux parents</p>
              <div class="col-md-12">
                <div class="single-input">
                  <label for="tel_pere">Numéro(s) de téléphone des parents(*) <br> Veillez renseigner un
                    numéro(6XX-XXX-XXX) ou plusieurs numéros (6XX-XXX-XXX/6XX-XXX-XXX) des parents </label>
                  <input [(ngModel)]="candidatureForm.tel_parents" style="width: 100%;" type="text" id="tel_pere"
                    name="tel_pere" class="form-input" placeholder="Numéro de téléphone des parents">
                </div>
              </div>

              <div class="col-md-12">
                <div class="single-input">
                  <label for="email_pere">Email des parents (*)</label>
                  <input required [(ngModel)]="candidatureForm.email_parents" style="width: 100%;" type="email"
                    id="email_parents" name="email_parents" class="form-input" placeholder="Email des parents">
                </div>
              </div>


              <div class="row">
                <div class="col-md-6">
                  <div class="form-button">
                    <button type="button" class="button radius-10 w-100" (click)="setStep(step-1)">Précédent</button>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-button">
                    <button type="button" class="button radius-10 w-100" [disabled]="candidatureForm.email_parents === ''
                     || candidatureForm.tel_parents === ''" (click)="setStep(step+1)">Suivant</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" [hidden]="!(step==3)">
              <p class="text-center mb-4">Informations sur votre scolarité</p>

              <div class="align-content-center">
                <div class="single-input">
                  <label>Langue parlée (*)</label>
                  <input required value="Francais" [(ngModel)]="candidatureForm.langue" name="langue" id="langue"
                    style="width: 20px; height: 20px;" type="radio" class="form-input"> &nbsp; <span
                    style="font-size: 17px;"> Français </span> <br>
                  <input required value="Anglais" [(ngModel)]="candidatureForm.langue" name="langue"
                    style="width: 20px; height: 20px;" type="radio" class="form-input"> &nbsp; <span
                    style="font-size: 17px;"> Anglais </span>
                </div>
              </div>

              <div class="col-md-12">
                <div class="single-input">
                  <label for="dernier_Etablissement">Dernier établissement fréquenté (*)</label>
                  <input required [(ngModel)]="candidatureForm.dernier_Etablissement" style="width: 100%;" type="text"
                    id="dernier_Etablissement" name="dernier_Etablissement" class="form-input"
                    placeholder="Dernier établissement fréquenté">
                </div>
              </div>

              <div class="col-md-12">
                <div class="single-input">
                  <label>Indiquez le nombre de formations auquel vous candidatez</label>

                  <div class="align-content-center">
                    <input required [(ngModel)]="candidatureForm.nombre_choix" value="1" name="paiement"
                      style="width: 20px; height: 20px;" type="radio" class="form-input"> &nbsp; <span
                      style="font-size: 17px;"> Concourir pour une formation(20 000 FCFA) </span>
                  </div>

                  <div class="align-content-center">
                    <input name="paiement" [(ngModel)]="candidatureForm.nombre_choix" value="2"
                      style="width: 20px; height: 20px;" type="radio" class="form-input"> &nbsp; <span
                      style="font-size: 17px;"> Concourir pour deux formations(25 000 FCFA) </span>
                  </div>

                  <div class="align-content-center">
                    <input name="paiement" [(ngModel)]="candidatureForm.nombre_choix" value="3"
                      style="width: 20px; height: 20px;" type="radio" class="form-input"> &nbsp; <span
                      style="font-size: 17px;"> Concourir pour trois formations(30 000 FCFA) </span>
                  </div>

                  <label>Choix des formations</label>
                  <p>Le concours permet d'accéder à 3 formations</p>

                  <div>&nbsp;</div>

                  <div class="align-content-center">
                    <input [(ngModel)]="candidatureForm.formation1" name="formation1" [value]="'FA'"
                      style="width: 20px; height: 20px;" type="checkbox" class="form-input"> &nbsp; <span
                      style="font-size: 17px;"> A - Ingénieur généraliste par alternance et ingénieur génie des procédés
                    </span>
                  </div>

                  <div class="align-content-center">
                    <input [(ngModel)]="candidatureForm.formation2" name="formation2" [checked]="'OP'" [value]="'OP'"
                      style="width: 20px; height: 20px;" type="checkbox" class="form-input"> &nbsp; <span
                      style="font-size: 17px;"> B - Ingénieur généraliste parcours international </span>
                  </div>

                  <div class="align-content-center">
                    <input [(ngModel)]="candidatureForm.formation3" name="formation3" [checked]="'X'" [value]="'X'"
                      style="width: 20px; height: 20px;" type="checkbox" class="form-input"> &nbsp; <span
                      style="font-size: 17px;"> C - Ingénieur informatique </span>
                  </div>


                  <label>Concourir pour (*)</label>
                  <div class="align-content-center">
                    <input required [(ngModel)]="candidatureForm.cycle" value="premier" name="cycle" id="cycle"
                      style="width: 20px; height: 20px;" type="radio" class="form-input"> &nbsp; <span
                      style="font-size: 17px;"> 1er cycle </span>
                  </div>

                  <div class="align-content-center">
                    <input required [(ngModel)]="candidatureForm.cycle" value="second" name="cycle"
                      style="width: 20px; height: 20px;" type="radio" class="form-input"> &nbsp; <span
                      style="font-size: 17px;"> 2nd cycle </span>
                  </div>
                  &nbsp;

                  <label for="image">Photo</label>
                  <div class="align-content-center">
                    <input [(ngModel)]="candidatureForm.image" type="file" id="image" name="image"> &nbsp;
                  </div>&nbsp;

                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-button">
                    <button type="button" class="button radius-10 w-100" (click)="setStep(step-1)">Précédent</button>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-button">
                    <button type="button" class="button radius-10 w-100" [disabled]="candidatureForm.langue === '' || candidatureForm.dernier_Etablissement === '' || candidatureForm.nombre_choix === 0
                    || candidatureForm.cycle === ''" (click)="setStep(step+1)">Suivant</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="step == 4">

              <div class="col-md-12">
                <div class="single-input">
                  <label>
                    <p> {{msgPaiement}} </p>
                  </label>

                  <div *ngIf="codeExists" style="color: red; font-weight: bolder">Le code {{
                    candidatureForm.reference_paiement }} n'est pas valide !!! Il a déjà été utilisé ou est incorrect !
                    Veillez réessayez</div>
                  <div *ngIf="codeValid" style="color: green; font-weight: bolder">Le code {{
                    candidatureForm.reference_paiement }} est valide </div>
                  <input required [(ngModel)]="candidatureForm.reference_paiement" (ngModelChange)="checkCode()"
                    style="width: 100%;" type="text" id="reference_paiement" name="reference_paiement"
                    class="form-input" placeholder=" Exemple :MP220315.13.49.A18995 ">
                </div>
              </div>

              <div *ngIf="showNumberPaiement" class="col-md-12">
                <div class="single-input">
                  <label>Numéro de téléphone ayant éffectué la transaction</label>
                  <input required [(ngModel)]="candidatureForm.telephone_paiement" style="width: 100%;" type="text"
                    id="telephone_paiement" name="reference_paiement" class="form-input"
                    placeholder=" Exemple : 6 9XX XXX XXX ">
                </div>
              </div>


              <div class="col-md-6">
                <div class="form-button">
                  <button type="button" class="button radius-10 w-100" (click)="setStep(step-1)">Précédent</button>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-button">
                  <button type="submit" class="button radius-10 w-100"
                    [disabled]=" (candidatureForm.telephone_paiement === '' && showNumberPaiement ) || candidatureForm.reference_paiement === '' || codeExists ">Valider</button>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>


  <br>

</section>