<section id="pricing" class="pricing-section pricing-style-1 bg-white contact-section contact-style-6">
  <div class="container">

    <div class="col-12" style=" padding-top: 100px;">
      <h4 class="wow fadeInUp" data-wow-delay=".4s">Session de mai 2023 </h4>
      <h6 class="text-center">Date d'examen:  <b style="color: #df650d">30 mai 2023</b></h6><br/>
      <h6 class="text-center">Date limite de dépôt des dossiers:  <b style="color: #df650d">15 mai 2023</b></h6>
      <br>
      <h5 class="mb-15 wow fadeInUp" data-wow-delay=".2s" style="color: #c0262d;">Enregistrez-vous</h5>
    </div>
  </div>
  <br>
  <div>&nbsp;</div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-10">
        <div class="section-title text-center mb-60">
          <h5 class="mb-15 wow fadeInUp" data-wow-delay=".2s" style="color: #c0262d;">Choisissez votre centre d'examen</h5>
          <div>&nbsp;</div>

        </div>
      </div>
    </div>

    <div class="row justify-content-center">

      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single-pricing wow fadeInUp" data-wow-delay=".2s">
          <div class="image">
            <img src="assets/img/Cameroun.png" alt="">
          </div>
          <!--<h6>Pro Design</h6>-->
          <h4>Cameroun</h4>
          <!--<h3>$ 29.00</h3>-->
          <ul>
            <li> <input name="examcenter" style="width: 20px; height: 20px;" type="radio" class="form-input"> &nbsp; Yaoundé</li>
            <li> <input name="examcenter" style="width: 20px; height: 20px;" type="radio" class="form-input"> &nbsp; Douala</li>
            <li> <input name="examcenter" style="width: 20px; height: 20px;" type="radio" class="form-input"> &nbsp; Garoua</li>
            <li> <input name="examcenter" style="width: 20px; height: 20px;" type="radio" class="form-input"> &nbsp; Ngaoundéré</li>
            <li> <input name="examcenter" style="width: 20px; height: 20px;" type="radio" class="form-input"> &nbsp; Bafoussam</li>
            <li> <input name="examcenter" style="width: 20px; height: 20px;" type="radio" class="form-input"> &nbsp; Bertoua</li>
            <li> <input name="examcenter" style="width: 20px; height: 20px;" type="radio" class="form-input"> &nbsp; Ebolowa</li>
            <li> <input name="examcenter" style="width: 20px; height: 20px;" type="radio" class="form-input"> &nbsp; Maroua</li>
          </ul>
          <a href="inscription2.html" class="button radius-30">Continuer</a>
        </div>
      </div>
    </div>

  </div>
  <br>

</section>
