
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
              <div class="navbar nav_title" style="border: 0;">
                <a href="index.html" class="site_title"> <span>App Inscription</span></a>
              </div>
  
              <div class="clearfix"></div>
  
              <!-- menu profile quick info -->
              <div class="profile clearfix">
                <div class="profile_pic">
                  <img src="../images/sadjo.jpg" alt="..." class="img-circle profile_img">
                </div>
                <div class="profile_info">
                  <span>Bienvenue,</span>
                  <h2>SADJO Mohammadou</h2>
                </div>
              </div>
              <!-- /menu profile quick info -->
  
              <br />
  
              <!-- sidebar menu -->
              <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
  
                  <ul class="nav side-menu">
                    <li>
                      <a href="index.html"><i class="fa fa-home"></i> Accueil </a>
                    </li>
  
                    <li>
                      <a href="zone.html"><i class="fa fa-map"></i> Zones </a>
                    </li>
  
                    <li>
                      <a href="site.html"><i class="fa fa-map-marker"></i> Sites </a>
                    </li>
  
                    <li>
                      <a href="centre_examen.html"><i class="fa fa-map-signs"></i> Centres d'examen </a>
                    </li>
  
                    <li>
                      <a href="session_examen.html"><i class="fa fa-calendar"></i> Sessions d'examen </a>
                    </li>
  
                    <li>
                      <a><i class="fa fa-envelope"></i> Candidatures <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <li><a href="liste_candidatures.html">Liste des candidatures</a></li>
                        <li><a href="gestion_admissibilité.html">Gestion d'admissibilité</a></li>
                        <li><a href="gestion_admis.html">Gestion des admis</a></li>
                      </ul>
                    </li>
  
                    <li>
                      <a><i class="fa fa-microphone"></i> Entretiens <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <li><a href="calendrier_entretiens.html">Calendrier des entretiens</a></li>
                        <li><a href="calendrier_disponibilités.html">Calendrier des disponibilités</a></li>
                        <li><a href="periode_entretiens.html">Définition période entretiens</a></li>
                        <li><a href="notes_entretiens.html">Notes entretiens</a></li>
                      </ul>
                    </li>
  
                    <li>
                      <a><i class="fa fa-list"></i> Listes <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <li><a href="liste_admissibilité.html">Liste d'admissibilité</a></li>
                        <li><a href="liste_admis.html">Liste des admis</a></li>
                      </ul>
                    </li>
  
                    <li><a><i class="fa fa-users"></i> Rôles utilisateurs <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <li><a href="administrateur.html">Administrateur</a></li>
                        <li><a href="membre_jury.html">Memebre du jury</a></li>
                      </ul>
                    </li>
  
                    </ul>
  
                </div>
  
              </div>
              <!-- /sidebar menu -->
  
              <!-- /menu footer buttons -->
  
              <!-- /menu footer buttons -->
            </div>
          </div>
  
          <!-- top navigation -->
          <div class="top_nav">
            <div class="nav_menu">
                <div class="nav toggle">
                  <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <nav class="nav navbar-nav">
                <ul class=" navbar-right">
                  <li class="nav-item dropdown open" style="padding-left: 15px;">
                    <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                      <img src="../images/sadjo.jpg" alt="">SADJO Mohammadou
                    </a>
                    <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"  href="javascript:;">
                          <span>Paramètres</span>
                        </a>
                        <a class="dropdown-item"  href="login.html"><i class="fa fa-sign-out pull-right"></i>Se déconnecter</a>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
    </div>
</div>
