<section id="contact" class="contact-section contact-style-6">
  <div class="container">
    <div>&nbsp;</div>
    <div class="row justify-content-center">
      <div class="col-lg-5" style="border-style: solid; border-width: 2px; border-radius: 50px; border-color: #c0262d; padding: 50px;">
        <div class="contact-form-wrapper text-center">
          <img src="assets/img/person.svg" width="100px" height="100px">
          <h4 class="mb-15 wow fadeInUp" data-wow-delay=".2s" style="color: #c0262d;">S'inscrire</h4>
          <form
            name="form"
            #f="ngForm"
            (ngSubmit)="f.form.valid && onSubmit()"
          >
            <div class="row">
              <div class="col-md-12">
                <div class="single-input">
                  <!--<label for="name">Name</label>-->
                  <input type="text" id="name" name="name"  [(ngModel)]="form.name" #name="ngModel" class="form-input col-12" placeholder="Noms">
                </div>
              </div>
              <div>&nbsp;</div>
              <div class="col-md-12">
                <div class="single-input">
                  <!--<label for="name">Name</label>-->
                  <input type="text" id="prenom" name="prenom"  [(ngModel)]="form.prenom" #prenom="ngModel" class="form-input col-12" placeholder="Prenom">
                </div>
              </div>
              <div>&nbsp;</div>
              <div class="col-md-12">
                <div class="single-input">
                  <!--<label for="name">Name</label>-->
                  <input type="text" id="telephone" name="telephone"   [(ngModel)]="form.telephone" #telephone="ngModel" class="form-input col-12" placeholder="Telephone">
                </div>
              </div>
              <div>&nbsp;</div>
              <div class="col-md-12">
                <div class="single-input">
                  <!--<label for="name">Name</label>-->
                  <input type="text" id="email" name="email"   [(ngModel)]="form.email" #email="ngModel" class="form-input col-12" placeholder="Email">

                </div>
              </div>
              <div>&nbsp;</div>
              <div class="col-md-12">
                <div class="single-input">
                  <!--<label for="email">Email</label>-->
                  <input type="password" id="password" name="password"  [(ngModel)]="form.password" #password="ngModel" class="form-input col-12" placeholder="Mot de passe">

                </div>
              </div>
              <div>&nbsp;</div>
              <div class="col-md-12">
                <div class="single-input">
                  <!--<label for="email">Email</label>-->
                  <input type="password" id="passwordconf" name="passwordconf" class="form-input col-12" placeholder="Confirmer Mot de passe">

                </div>
              </div>

              <div class="col-md-12">
                <div class="form-button">
                  <button type="submit" class="button radius-10">S'inscrire </button>
                </div>
              </div>
              <div>&nbsp;</div>
              <a href="login.html">Vous avez déjà un compte? Connectez-vous</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
